<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
       <bean id="petrolEngine" class="org.example.PetrolEngine" />
       <bean id="dieselengine" class="org.example.DieselEngine" />

       <bean id="car" class="org.example.Car">


           <!--           for setter INjection-->
           <property name="engine" ref="petrolEngine"/>


<!--           for constructor INnjection-->
           <constructor-arg ref="dieselengine"/>




       </bean>

</beans>